section{
    position: fixed;
    left: 25%;
    background-color: rgb(233, 172, 92);
    width: 400px;
    height: 600px;
    padding: 20px;
    overflow-y: scroll;
}
#add{
    background-color: rgba(9, 138, 9, 0.89);
    border: none;
    padding: 10px 20px;
    color: honeydew;
    font-size: 25px;
}
#list div{
    margin-top: 10px;
    border: 1px solid rgb(255, 47, 161);
}
#warn{
    color: red;
    visibility:hidden
}